<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dateCreated</key>
	<date>2023-03-31T10:18:54Z</date>
	<key>externalLocations</key>
	<array/>
	<key>rootId</key>
	<dict>
		<key>hash</key>
		<string>0~RYjzSzwIJlfbatDNEKm-q99rddtL6cDXT7HsH8WsCyFFtsA4myPFVCLUcnbLM7dZJgAfnM_w7fC_ZYN8nCJz7Q==</string>
	</dict>
	<key>storage</key>
	<dict>
		<key>backend</key>
		<string>fileBacked2</string>
		<key>compression</key>
		<string>standard</string>
	</dict>
	<key>version</key>
	<dict>
		<key>major</key>
		<integer>3</integer>
		<key>minor</key>
		<integer>39</integer>
	</dict>
</dict>
</plist>
